

.infoshel-article-page__firstSlide {
  background-color: #f9f9f9;
}

.infoshel-article-page__firstSlide-usabilityBg {
  background: #ffffff;
  position: relative;

  .container {
    position: relative;
  }
}

.infoshel-article-page__firstSlide-text {
  margin-top: 70px;
  margin-bottom: 100px;

  button {
    height: 46px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #2e2e2e;
  }

  h2 {
    margin-bottom: 30px;
  }
}

.infoshel-article-page__firstSlide {
  position: relative;
}

.infoshel-article-page__firstSlide-web-img {
  background: url("../img/web/web@3x.png") no-repeat center;
  background-size: 100% auto;
  width: 528px;
  height: 501px;
  margin-top: 28px;
}

.infoshel-article-page__firstSlide-andr-img {
  background: url(../img/android/android@3x.png) no-repeat left;
  background-size: cover;
  width: 700px;
  height: 613px;
  margin-top: 28px;
  position: relative;
  left: -300px;
}

.infoshel-article-page__webService {
  background: #2e2e2e;
  color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 34px;
  height: 440px;

  h2 {
    text-align: center;
  }
}

.infoshel-article-page__webService-row {
  margin-top: 30px;
}

.infoshel-article-page__webService-block-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.infoshel-article-page__webService-block-bottom {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.infoshel-article-page__orderWeb {
  background: #ffffff;
  padding-top: 70px;
  padding-bottom: 56px;

  h2 {
    text-align: center;
    display: block;
    margin-bottom: 14px;
    max-width: 565px;
    margin-left: auto;
    margin-right: auto;
  }
}

.infoshel-article-page__list-services {
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 80px;

  h2 {
    text-align: center;
    display: block;
    margin-bottom: 14px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.infoshel-article-page__orderWeb-block {
  padding-top: 40px;

  & > p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.33;
    letter-spacing: -0.4px;
  }
}

.infoshel-article-page__orderWeb-block-img {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  span {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: #282828;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
  }
}

.infoshel-article-page__list-services-block {
  display: flex;
  align-items: center;
  margin-top: 40px;

  p {
    margin-bottom: 0;
  }
}

.infoshel-article-page__list-services-block-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: baseline;
}

.infoshel-article-page__list-services-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.infoshel-article-page__orderWeb-icon-rocket {
  background: url("../img/web/16.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-cycle {
  background: url("../img/web/17.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-arms {
  background: url("../img/web/18.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-mountain {
  background: url("../img/web/19.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__list-services-icon-russia {
  background: url("../img/android/russia.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-android {
  background: url("../img/android/android.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-ios {
  background: url("../img/android/ios.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-google {
  background: url("../img/android/11.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-diagram {
  background: url("../img/android/13.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-video {
  background: url("../img/android/15.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-dollar {
  background: url("../img/ios/dollar.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-iphone {
  background: url("../img/ios/iphone.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-phone {
  background: url("../img/ios/phone.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-bag {
  background: url("../img/ios/bag.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__list-services-icon-apple {
  background: url("../img/ios/apple.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
  display: block;
}

.infoshel-article-page__orderWeb-icon-rocket-yellow {
  background: url("../img/ios/rocket-yellow.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-head-yellow {
  background: url("../img/ios/head-yellow.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-arms-yellow {
  background: url("../img/ios/arms-yellow.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__orderWeb-icon-mountain-yellow {
  background: url("../img/ios/mountain-yellow.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 54px;
  height: 54px;
  margin-right: 16px;
}

.infoshel-article-page__list-services-bottom-text {
  margin-top: 40px;

  p {
    font-size: 16px;
    letter-spacing: -0.1px;
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
  }
}

.color-grey {
  background-color: #2e2e2e;
  color: #f9f9f9;

  span {
    color: #f9f9f9;
  }
}

.infoshel-article-page__list-services-column-block-img {
  display: flex;
}

.infoshel-article-page__list-services-column-block {
  display: flex;
}

.infoshel-article-page__firstSlide-ios-img {
  background: url("../img/ios/ios@3x.png") no-repeat right;
  background-size: 100% auto;
  width: 598px;
  height: 100%;
  margin-top: 28px;
  position: relative;
  left: -90px;
}

.infoshel-article-page__design {
  padding-top: 70px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.infoshel-article-page__design-animation {
  max-height: 670px;
  position: relative;
  display: flex;
  justify-content: center;

  //video {
  //  width: 100%;
  //  position: absolute;
  //  bottom: -1px;
  //}

  //img {
  //  width: 100%;
  //  position: absolute;
  //  bottom: -61px;
  //}
}

.infoshel-article-page__design-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}

.infoshel-article-page__design-blockHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: -0.2px;
    margin-bottom: 0;
    max-width: 250px;
  }
}

.infoshel-article-page__design-blockHeader-img {
  min-width: 54px;
  display: flex;
  justify-content: center;
  margin-right: 23px;
}

.orange-phone {
  background: url("../img/usability-analytics/orange-phone.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.web-design {
  background: url("../img/usability-analytics/web-design.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.watch-icon {
  background: url("../img/usability-analytics/watch-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.interface-icon {
  background: url("../img/usability-analytics/interface-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.usability-audit {
  background: url("../img/usability-analytics/usability-audit.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.infoshel-article-page__firstSlide-usabilityAnalytics-img {
  position: absolute;
  top: 0;
  right: 0;
  //background: url("../img/usability-analytics/header-uiu-x.png") no-repeat bottom right;
  //background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin-left: 0;
  margin-right: 0;

  video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }

  img {
    display: none;
  }
}

.infoshel-article-page__design-blockMain {
  p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.33;
    letter-spacing: -0.2px;
    margin-bottom: 0;
    font-weight: 300;
  }
}

.infoshel-article-page__process {
  padding-top: 140px;
  padding-bottom: 80px;
  position: relative;
  z-index: 10;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
  }
}

.infoshel-article-page__process-circle {
  width: 160px;
  height: 160px;
  position: relative;
}

.infoshel-article-page__process-circleRed {
  background: url("../img/usability-analytics/workprocess-01.svg") no-repeat center;
  background-size: 100% auto;
}

.infoshel-article-page__process-circleRed:before {
  content: '';
  position: absolute;
  background: url("../img/usability-analytics/red.svg") no-repeat center;
  background-size: 100% auto;
  width: 100%;
  height: 145px;
  right: -90px;
  bottom: -70px;
}

.infoshel-article-page__process-circlePurple {
  background: url("../img/usability-analytics/workprocess-02.svg") no-repeat center;
  background-size: 100% auto;
}

.infoshel-article-page__process-circlePurple:before {
  content: '';
  position: absolute;
  background: url("../img/usability-analytics/violet.svg") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 166px;
  right: -75px;
  bottom: 70px;
}

.infoshel-article-page__process-circleGreen {
  background: url("../img/usability-analytics/workprocess-03.svg") no-repeat center;
  background-size: 100% auto;
}

.infoshel-article-page__process-circleGreen:before {
  content: '';
  position: absolute;
  background: url("../img/usability-analytics/green.svg") no-repeat center;
  background-size: 100% auto;
  width: 148px;
  height: 163px;
  right: -93px;
  bottom: -76px;
}

.infoshel-article-page__process-circleBlue {
  background: url("../img/usability-analytics/workprocess-04.svg") no-repeat center;
  background-size: 100% auto;
}

.infoshel-article-page__process-circleBlue:before {
  content: '';
  position: absolute;
  background: url("../img/usability-analytics/blue.svg") no-repeat center;
  background-size: 100% auto;
  width: 110px;
  height: 166px;
  right: -75px;
  bottom: 70px;
}

.infoshel-article-page__process-circleYellow {
  background: url("../img/usability-analytics/workprocess-05.svg") no-repeat center;
  background-size: 100% auto;
}

.infoshel-article-page__process-container {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-top: 63px;
}

.infoshel-article-page__process-block  {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 258px;

  p {
    max-width: 241px;
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #2e2e2e;
  }
}

.infoshel-article-page__process-block:nth-child(odd) {
  align-self: flex-start;
}

.infoshel-article-page__process-block:nth-child(even) {
  align-self: flex-end;
}

.ui-widget.ui-widget-content {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  max-width: 316px;
}

.infoshel-article-page__process-block img {
  position: absolute;
  right: 25px;
  transition: 0.3s;

  &:hover {
    filter: invert(100%);
    transition: 0.3s;
  }
}

.infoshel-article-page__design-sites {
  position: relative;

  h2 {
    text-align: center;
    margin-bottom: 42px;
  }
}

.infoshel-article-page__design-sites-container {
  padding-top: 70px;
  padding-bottom: 45px;
  position: relative;
}

.infoshel-article-page__design-sites-container:before {
  content: '';
  position: absolute;
  background: url("../img/usability-analytics/green.png") no-repeat center;
  background-size: 100% auto;
  width: 130px;
  height: 34px;
  top: 0;
  right: 50px;
}

.infoshel-article-page__design-sites-block {
  display: flex;
  flex-direction: column;
}

.infoshel-article-page__design-sites-block-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.4px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    max-width: 170px;
  }
}

.orange-web-attachment {
  background: url("../img/usability-analytics/orange-web-attachment.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.orange-landing {
  background: url("../img/usability-analytics/orange-landing.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.orange-icon-server {
  background: url("../img/usability-analytics/orange-icon-server.svg") no-repeat center;
  background-size: 100% auto;
  width: 54px;
  height: 54px;
  display: block;
}

.infoshel-article-page__design-sites-block-header-img {
  margin-right: 17px;
}

.infoshel-article-page__design-sites-block-main {
  p {
    font-family: 'Open Sans', sans-serif;
  }
}

.infoshel-article-page__leadership {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.infoshel-article-page__leadership-block {
  padding: 45px 72px 42px 30px;
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  height: 100%;
}

.infoshel-article-page__leadership-block-img {
  max-width: 170px;
  margin-right: 33px;
  width: 100%;

  img {
    width: 100%;
  }
}

.infoshel-article-page__leadership-block-text {
  p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #2e2e2e;
  }

  p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.31;
    letter-spacing: -0.1px;
    color: #2e2e2e;
    margin-bottom: 22px;
  }

  p:nth-child(3),
  p:nth-child(4) {
    font-size: 14px;
    line-height: 1.38;
    letter-spacing: -0.1px;
    color: #2e2e2e;
    margin-bottom: 6px;
    font-family: 'Open Sans', sans-serif;
  }
}

.infoshel-article-page__community {
  padding-top: 70px;
  padding-bottom: 80px;

  h2 {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
  }
}

.infoshel-article-page__community-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #f9f9f9;
  }
}

.infoshel-article-page__community-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 272px;
  justify-content: space-between;
}

.infoshel-article-page__materials-h2 {
  max-width: 715px;
  margin-left: auto;
  margin-right: auto;
}

.infoshel-article-page .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffd94f;
}

.infoshel-article-page__design-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 13;

  .infoshel-article-page__design-block {
    width: 33%;
    padding-right: 25px;
  }
}

.infoshel-article-page__design-sites-carousel {
  display: flex;
  justify-content: space-between;
}

.infoshel-article-page__design-sites-block {
  width: 32%;
}

.infoshel-article-page__design-animation-violet {
  background: url("../img/usability-analytics/violetBlock.svg") no-repeat center;
  background-size: 100% auto;
  width: 25px;
  height: 98px;
  position: absolute;
  left: 0;
  top: 40%;
}

.infoshel-article-page__design-animation-green {
  background: url("../img/usability-analytics/greenRight.svg") no-repeat center;
  background-size: 100% 100%;
  width: 39.5px;
  height: 130.4px;
  position: absolute;
  right: 0;
  top: 30%;
}

.infoshel-article-page__design-animation-red {
  background: url("../img/usability-analytics/redBlock.svg") no-repeat center;
  background-size: 100% 100%;
  width: 200px;
  height: 45px;
  position: absolute;
  right: 50%;
  bottom: -1px;
}

.infoshel-article-page__design-animation-main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  z-index: 12;
  top: -50px;
  min-height: 760px;
}

.infoshel-article-page__design-sites-img {
  position: relative;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.infoshel-article-page__design-sites-img-main {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1200px;
  position: relative;
  z-index: 10;
}

.infoshel-article-page__design-sites-img-purple {
  background: url("../img/usability-analytics/violetDesign.svg") no-repeat center;
  background-size: 100% auto;
  width: 70px;
  height: 175px;
  position: absolute;
  left: 0;
  top: 20%;
}

.infoshel-article-page__design-sites-img-blue {
  background: url("../img/usability-analytics/blueDesign.svg") no-repeat center;
  background-size: 100% auto;
  width: 45px;
  height: 200px;
  position: absolute;
  right: 0;
  bottom: 20%;
}

.infoshel-article-page__design-sites-img-red {
  background: url("../img/usability-analytics/redDesign.svg") no-repeat center;
  background-size: 100% auto;
  width: 148px;
  height: 35px;
  position: absolute;
  left: 20%;
  bottom: 0;
}

.modal-dialog-centered__usabilityAnalytics {
  align-items: flex-end;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;

  .modal-content {
    bottom: -15px;
  }

  .modal-body {
    background-color: #f4f4f4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    overflow: hidden;
  }

  .modal-body__line {
    display: flex;
    width: 40px;
    height: 5px;
    opacity: 0.2;
    border-radius: 2.5px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.infoshel-article-page__process-block-modal {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .infoshel-article-page__firstSlide-andr-img {
    margin-top: 150px;
    left: -300px;
  }

  .infoshel-article-page__firstSlide-web-img {
    height: 100%;
  }

  .infoshel-article-page__firstSlide-text h2 {
    width: 670px;
  }
}

@media (max-width: 1199.98px) {

  .infoshel-article-page__process-block img {
    right: -20px;
  }

  .infoshel-article-page__process-circleRed:before {
    background: url("../img/usability-analytics/red-mobil-arrow.png") no-repeat center;
    height: 142px;
    right: -80px;
    bottom: -100px;
  }

  .infoshel-article-page__process-circlePurple:before {
    background: url(../img/usability-analytics/violet-mobil-arrow.png) no-repeat center;
    width: 48px;
    height: 212px;
    left: -42px;
    bottom: -130px;
  }

  .infoshel-article-page__process-circleGreen:before {
    background: url(../../img/usability-analytics/green-mobil-arrow.png) no-repeat center;
    width: 72px;
    height: 160px;
    right: -55px;
    bottom: -126px;
  }

  .infoshel-article-page__process-circleBlue:before {
    display: none;
  }


  .infoshel-article-page__process-container {
    flex-direction: column;
    height: auto;
  }

  .infoshel-article-page__process-block:nth-child(odd),
  .infoshel-article-page__process-block:nth-child(even) {
    align-self: center;
  }

  .infoshel-article-page__firstSlide-usabilityAnalytics-img video {
    width: 60%;
  }

  .infoshel-article-page__leadership-block {
    padding: 20px;
  }

  .infoshel-article-page__webService {
    height: auto;
  }

  .infoshel-article-page__webService-row {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .infoshel-article-page__webService-row > div {
    position: relative;
  }

  .infoshel-article-page__webService-block {
    padding: 27px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    color: #2e2e2e;
    z-index: 1;
    height: 320px;

    button {
      margin-top: auto;
      height: 46px;
      position: relative;
      width: 100%;
      background: #ffffff;
      opacity: 1;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      z-index: 1;
    }


    .infoshel-article-page__webService-block-bg  {
      background-color: #ffd94f;
      transition: 0.3s;
    }

    span {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 14px;
      display: block;
      text-transform: uppercase;
      color: #2e2e2e;
      opacity: 1;
      z-index: 1;
    }

    ul {
      padding-left: 0;
      z-index: 1;
    }

    li {
      list-style-type: none;
    }
  }
}

@media (min-width: 1200px) {
  .infoshel-article-page__webService-block {
    padding: 27px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    height: 260px;
    transition: 0.3s;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;

    button {
      margin-top: auto;
      height: 46px;
      opacity: 0;
      position: relative;
      width: 100%;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
    }

    &:hover {
      color: #2e2e2e;
      z-index: 1;
      height: 320px;

      .infoshel-article-page__webService-block-bg  {
        background-color: #ffd94f;
        transform: scale(1.1, 1.1);
        transition: 0.3s;
      }

      button {
        background: #ffffff;
        opacity: 1;
      }

      span {
        color: #2e2e2e;
        opacity: 1;
      }
    }

    &:hover * {
      transform: scale(1, 1);
    }

    span {
      font-size: 14px;
      font-weight: bold;
      color: #f9f9f9;
      opacity: 0.5;
      margin-bottom: 14px;
      display: block;
      text-transform: uppercase;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style-type: none;
    }
  }

  .infoshel-article-page__orderWeb-page {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 991.98px) {

  .infoshel-article-page__firstSlide-usabilityAnalytics-img {
    //video {
    //  display: none;
    //}
    //
    //img {
    //  width: 100%;
    //  height: auto;
    //  position: absolute;
    //}
  }

  .infoshel-article-page__design-container .infoshel-article-page__design-block {
    width: 100%;
  }

  .infoshel-article-page__design-sites-block {
    width: 98%;
  }
}

@media (max-width: 767.98px) {

  .infoshel-article-page__process {
    padding-top: 60px;
  }

  .infoshel-article-page__design-sites-img-main {
    width: 150%;
    height: 100%;
  }

  .infoshel-article-page__design-sites-img-purple,
  .infoshel-article-page__design-sites-img-blue {
    display: none;
  }

  .infoshel-article-page__community {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .infoshel-article-page__leadership {
    padding-bottom: 50px;
  }

  .infoshel-article-page__design-sites-container,
  .infoshel-article-page__leadership {
    padding-top: 30px;
  }

  .infoshel-article-page__design-sites-container:before {
    display: none;
  }

  .infoshel-article-page__design-blockMain p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: #ffffff;
  }

  .infoshel-article-page__list-services-block {
    margin-top: 25px;
  }

  .infoshel-article-page__list-services-bottom-text {
    display: none;
  }

  .infoshel-article-page__list-services-block p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: #2e2e2e;
  }

  .infoshel-article-page__list-services {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .infoshel-article-page__firstSlide-text button {
    display: none;
  }

  .infoshel-article-page {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 28px;
    }
  }

  .infoshel-article-page__webService {
    padding-top: 30px;
  }

  .infoshel-article-page__orderWeb {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .infoshel-article-page__firstSlide-ios-img {
    height: 80%;
    width: 480px;
  }

  .infoshel-article-page__orderWeb-icon {
    min-width: 38px;
    height: 38px
  }

  .infoshel-article-page__orderWeb-block-img span {
    font-size: 16px;
    max-width: 192px;
  }

  .infoshel-article-page__orderWeb-block > p {
    font-size: 14px;
  }

  .infoshel-article-page__orderWeb-column-block {
    p {
      font-size: 14px;
    }
  }

  .infoshel-article-page__webService-block {
    height: 300px;
    background-color: #ffd94f;
    color: #2e2e2e;
    padding: 27px 15px 24px 15px;

    span {
      color: #2e2e2e;
      opacity: 1;
    }

    button {
      opacity: 1;
      background: #ffffff;
    }

    &:hover {
      height: 300px;
    }
  }

  .infoshel-article-page__webService-block-bg {
    display: none;
  }



  .infoshel-article-page__webService {
    height: auto;
  }

  .infoshel-article-page__firstSlide-text {
    margin-bottom: 35px;
    margin-top: 30px;

    p {
      font-size: 14px;
    }
  }

  .infoshel-article-page__webService-block h4 {
    font-size: 18px;
  }

  .infoshel-article-page__webService-block li {
    font-size: 14px;
  }

  .infoshel-article-page__design {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 0;
    }
  }
}

@media (max-width: 575.98px) {

  .infoshel-article-page__process-block-tooltip {
    display: none;
  }

  .infoshel-article-page__process-block-modal {
    display: block;
  }

  .infoshel-article-page__firstSlide-text h2 {
    width: 50%;
    height: 185px;
    font-size: 20px;
  }

  .tooltip.show {
    opacity: 0 !important;
  }

  .infoshel-article-page__firstSlide-usabilityAnalytics-img {
    video {
      display: none;
    }

    img {
      display: block;
      position: absolute;
      right: 0;
    }
  }

  .infoshel-article-page__leadership-block-text p:nth-child(1) {
    font-size: 18px;
  }

  .infoshel-article-page__leadership-block-text p:nth-child(2) {
    font-size: 14px;
  }

  .infoshel-article-page__leadership-block {
    display: block;
  }
  
  .infoshel-article-page__leadership-block-img {
    float: left;
    width: 60px;
    height: 90px;
    margin-right: 15px;
  }

  .infoshel-article-page__design-sites-block {
    width: 100%;
    padding-right: 5px;
    padding-left: 1px;
  }

  .infoshel-article-page__design-container .infoshel-article-page__design-block {
    padding-right: 5px;
  }

  .infoshel-article-page__web {
    .infoshel-article-page__firstSlide-text h2 {
      height: 200px;
      display: flex;
      align-items: center;
      width: 50%;
      position: relative;
      font-size: 20px;

      &:before {
        content: '';
        position: absolute;
        right: -100%;
        top: 0;
        background: url("../img/web/web-mob.png") no-repeat center;
        background-size: 100% auto;
        width: 145px;
        height: 200px;
      }
    }
  }

  .infoshel-article-page__android {
    .infoshel-article-page__firstSlide-text h2 {
      height: 200px;
      display: flex;
      align-items: center;
      width: 50%;
      position: relative;
      font-size: 20px;

      &:before {
        content: '';
        position: absolute;
        right: -110%;
        top: 0;
        background: url("../img/android/android.png") no-repeat right;
        background-size: 100% auto;
        width: 223px;
        height: 200px;
      }
    }
  }

  .infoshel-article-page__ios {
    .infoshel-article-page__firstSlide-text h2 {
      height: 200px;
      display: flex;
      align-items: center;
      width: 50%;
      position: relative;
      font-size: 20px;

      &:before {
        content: '';
        position: absolute;
        right: -135%;
        top: 0;
        background: url("../img/ios/ios@3x.png") no-repeat right;
        background-size: 100% auto;
        width: 220px;
        height: 200px;
      }
    }
  }

  .infoshel-article-page__firstSlide-web-img,
  .infoshel-article-page__firstSlide-andr-img,
  .infoshel-article-page__firstSlide-ios-img {
    display: none;
  }

  .infoshel-article-page__webService-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 420px) and (max-width: 767.98px) {
  .infoshel-article-page__ios .infoshel-article-page__firstSlide-text h2:before {
    content: '';
    position: absolute;
    right: -100%;
    top: 0;
    background: url(../../img/ios/ios@3x.png) no-repeat right;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 220px;
    height: 200px;
  }

  .infoshel-article-page__android .infoshel-article-page__firstSlide-text h2:before {
    right: -100%;
  }
}

.ui-tooltip, .arrow:after {
  border-radius: 4px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  border: none !important;
}
.ui-tooltip {
  padding: 10px 20px;
  color: #2e2e2e;
  font-size: 14px;
  border-radius: 4px;
  border: none !important;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  background: inherit;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  right: 0;
  border-width: .4rem .4rem .4rem 0;
  border-right-color: #fff;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-right-color: #fff;
}

.arrow.top {
  top: 5px;
  bottom: auto;
  transform: rotate(270deg);
  z-index: 999999;
}
.arrow.left {
  left: -10px;
  z-index: 999999;
}
.arrow:after {
  content: "";
  background: #fff;
  position: absolute;
  left: 3px;
  top: -6px;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  background: #ffffff;
  color: #2e2e2e;
  opacity: 1;
  max-width: 373px;
  padding: 12px 13px 17px 20px;
  text-align: left;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.13);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.57;
  letter-spacing: -0.1px;
  color: #2e2e2e;
}

.clear {
  clear: both;
}

.white-space-nowrap {
  white-space: nowrap;
}

.infoshel-article-page__ios-block {

  h2 {
    max-width: 700px;
  }
  .infoshel-article-page__orderWeb-block > p {
    letter-spacing: -0.2px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #f9f9f9;
  }
}
