@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica/Helvetica-Bold-02.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}